


{% if user.is_authenticated %}    
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      
  </div>
  <div class="mx-auto order-0">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">UPS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/gprs/">GPRS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""/vpn/"">VPN</a>       
    </ul>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
          <span class="navbar-toggler-icon"></span>
      </button>
  </div>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li>
            <span class="navbar-brand mx-auto" >{{ user.username }}</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">logout</a>
        </li>
      </ul>
  </div>
</nav>
{% endif %}