
{% extends 'base.html' %}

{% block title %}Detail info ACP {% endblock %}

{% block header %}

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
{% endblock %}

{% block content %}
{% load static %}


    <div class="container">
      <h1 class="my-3">Detail info ACP</h1>
      <div class="row">


            <img src="{% static "img/third_img.jpg" %}" alt="" class="card-img-top">

            <div class="card-body">
              <h4 class="card-title"> Report info APS </h4>

              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Parameter name</th>
                    <th scope="col">Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Model</th>
                    <td><span id="model">{{ report_ups.model }}</span></td>
                  </tr>
                  <tr>
                    <th scope="row">Voltage battary</th>
                    <td><span id="voltage_battary">{{ report_ups.voltage_battary }}</span></td>
                  </tr>
                  <tr>
                    <th scope="row">Report selftest</th>
                    <td><span id="report_selftest">{{ report_ups.report_selftest }}</span></td>
                  </tr>
                  <tr>
                    <th scope="row">Made date</th>
                    <td><span id="made_data">{{ report_ups.made_date }}</span></td>
                  </tr>
                  <tr>
                    <th scope="row">last date battary replacement:</th>
                    <td><span id="battary_replacement">{{ report_ups.last_date_battary_replacement }}</span></td>
                  </tr>
                  <tr>
                    <th scope="row">Serial number:</th>
                    <td><span id="serial_number">{{ report_ups.serial_number }}</span></td>
                  </tr>
                  <tr>
                    <th scope="row">Date update:</th>
                    <td><span id="date_add">{{ report_ups.date_add }}</span></td>
                  </tr>
                </tbody>
              </table>

              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted"></small>  

                <button class="btn btn-primary" type="button" value="{{ ip }}" id="update_data">Update</button>

              </div>
           
          </div>

      </div>
    </div>
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}
